{% extends '_base.html' %}
{% load static %}
{% block title %}Filmosaurus{% endblock title %}
{% block body %}
<section id="welcome" class="home-section">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class='console-container'>
                <span id='text'></span>
                <div class='console-underscore' id='console'>&#95;</div>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="console-container">
                Welcome
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="fancy-border">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/welcome-1.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="fancy-border">
                                    <h5>First step</h5>
                                    <p>The first step is to create an account. Go on the <a href="#">account creation page</a>, follow the instruction.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/welcome-2.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="fancy-border">
                                    <h5>Second step</h5>
                                    <p>Then, go to the <a href="#search">search section</a> and type the movie you have in mind.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/welcome-3.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="fancy-border">
                                    <h5>Third step</h5>
                                    <p>Once the movie chosen, save it to your watchlist. You can add several movies in order to plan your watching program !</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/welcome-4.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="fancy-border">
                                    <h5>Last step</h5>
                                    <p>Watch and enjoy ! but keep the most important in mind ... SVOD is good, but seeing films in a cinema, on the big screen, is better. <strong>Supports movie theaters</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section id="search" class="home-section">
    <div class="container">
        <div class="row">
            <div class="search-container search-block">
                <div class="fancy-border">
                    <span class="search-title ">Search a movie ...</span>
                    <hr class="text-white">
                    <form id="search_home" action="{% url 'search_results' %}">
                        <div class="row row-search">
                            <div class="col-lg-10 col-md-12 col-sm-12 col-12">
                                <input id="tags" class="form-control" type="text" name="q" required>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                                <button id="search_button" type="submit" class=" form-control btn btn-search mb-3">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="home-section">
    <div class="container about-container">
        <div class="row">
            <div class="fancy-border">
                <span class="search-title ">About</span>
                <hr class="text-white">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="fancy-border">
                            <p>                     
                                my name is Romain, I am a student at Openclassrooms. this website was created as part of the last project of the python developer training.
                                Being passionate about cinema, it seemed obvious to me that this project should be done in this area.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="fancy-border fancy-social">
                            <p>
                                Social
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <i class="fab fa-facebook-square"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fab fa-twitter-square"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fab fa-github-square"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fab fa-reddit-square"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fab fa-snapchat-square"></i>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="text-white">
            </div>
        </div>
    </div>
</section>
{% endblock body %}