[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
isort = "*"
flake8 = "*"
psycopg2-binary = "*"
django-redis = "*"
django-tailwind = "*"
coverage = "*"
imdbpy = "*"
django-debug-toolbar = "*"
django-allauth = "*"
django-crispy-forms = "*"
requests = "*"
beautifulsoup4 = "*"
mock = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
