{% extends '_base.html' %}
{% block title %}{{ object.title }}{% endblock title %}
{% block body %}
<section id="movie_detail" class="home-section">
    <div class="container-fluid remove-all-margin">
        <div class="row mt-5">
            <div class="col-lg-6 col-12 mt-2">
                <div class="fancy-border">
                    <h3 class="text-center text-white">Account</h3>
                    <hr>
                    <h5 class="account_a">Email: {{user.email}} - <a class="account_a" href="#"><i class="fas fa-edit"></i></a></h5> 
                    <h5><a class="account_a" href="{% url 'account_change_password' %}">Change password</a></h5>
                </div>
            </div>
            <div class="col-lg-6 col-12 mt-2">
                <div class="fancy-border">
                    <h3 class="text-center text-white">Watchlist</h3>
                    <hr>
                    <ul class="watchlist_list">
                        {% for elt in watchlist %}
                        {% if not elt.seen %}        
                        <li id="watchlist_li" class="watchlist_item">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-md-10 col-10">
                                    <a class="watchlist_link" href="{% url 'movie_detail' elt.movie.id %}"><img class="watchlist_img m-1" src="{{ elt.movie.picture }}" width=80 height=90><span class="watchlist_title">{{ elt.movie }} ({{elt.movie.year}})</span></a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 btn-col">
                                    <a href="{% url 'update' %}?id={{ elt.id }}"><button id="watchlist_btn" class="button btn btn-picture watchlist_button">viewed</button></a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12 mt-2">
                <div class="fancy-border">
                    <h3 class="text-center text-white">Historic</h3>
                    <hr>
                    <ul class="watchlist_list">
                        {% for elt in watchlist %}
                        {% if elt.seen %}        
                        <li id="watchlist_li" class="watchlist_item">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-md-10 col-10">
                                    <a class="watchlist_link" href="{% url 'movie_detail' elt.movie.id %}"><img class="watchlist_img m-1" src="{{ elt.movie.picture }}" width=80 height=90><span class="watchlist_title">{{ elt.movie }} ({{elt.movie.year}})</span></a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}