{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Account{% endblock title %}
{% block body %}
<section id="movie_detail" class="home-section">
    <div class="container-fluid remove-all-margin container-auth">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6">
                <div class="fancy-border p-5">
                    <form id="update_email" method="post">{% csrf_token %}
                        {{ form.email|as_crispy_field }}
                        <input type="submit" value="Update" class="btn btn-picture col-12 mt-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}