{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand abs mt-3" href="#">
            <span class="brand-text mt-5">Filmosaurus</span>
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="collapse">Search</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-target="#" data-bs-toggle="modal">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-target="#" data-bs-toggle="modal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-target="#" data-bs-toggle="modal">Signup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>